{% extends 'chat/base.html' %}

{% block content %}
    <h3>You: {{me.username}}</h3>
    <h3>Thread: {{user.username}}</h3>
    <ul>
        {% for message in messages %}
        <li>[{{message.sender.username}}]: {{message.text}}</li>
        {% endfor %}
    </ul>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="message" id="message" required>
        <input type="submit" value="Send" class="btn">
    </form>
{% endblock content %}

{% block custom_javascript %}

<script>
    const url = 'ws://localhost:127.0.0.1:8000/ws/chat/'
    const ws = new WebSocket(url)
    ws.onopen = function(event)
    {
        console.log("Connection is opened")
    }
    ws.onmessage = function(event)
    {   
        console.log(event)
        console.log("Connection is received")
    }
    ws.onclose = function(event)
    {
        console.log("Connection is closed")
    }
    ws.onerror = function(event)
    {
        console.log("Something went wrong")
    }
</script>

{% endblock custom_javascript %}
